*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
header{
    background-color: black;
    color: white;
    width: 100%;
    min-width: 1200px;
    height: 160px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
header a:hover{
    color: red;
}
.contenedor-principal{
    display: inline-block;
    justify-content: start;
    flex-wrap: wrap;
}
.logo{
    float: left ;
    width: 50%;
    padding-top: 25px;
    margin-right: 300px;
}
.titulo{
    margin-top: 50px;    
    font-family: sans-serif;
    margin-right: 1000px;   
}

.contacto{
    margin-top: 70px;
}
#whatsapp{
    
    background: green;
    border-radius: 100%;
    font-size: 30px;
}
.contenedor-secundario{
    background-image: url(../img/fondo_ppal_compl..png);
    background-size: cover;
    height: 850px;
}
.navbar{
    float: right;
    margin-right: 100px;
}
.navbar ul {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-right: -30px;
    margin-top: 40px;
    font-size: 25px;
}
.navbar a{
    border: white solid 1px;
    text-decoration: none;
    text-align: center;
    color: rgb(248, 245, 245);
    background: #1a1a1a;
}
.navbar a:hover{
    background-color: gray;
    overflow: hidden;
    color: rgb(248, 4, 4);
}

.contenedor-footer{
    width: 100%;
    background-image: url(../img/banner_inferior_completo2.png);
    background-size:100%;
    background-clip: border-box;
    background-repeat: no-repeat;
    min-height: 310px;
    color: white;
    background-color: black;
    
}
.contenedor-footer h3{
    display: inline-block;
    margin-left:200px ;
}

.nosotros{
    display: block;
    width: 100%;
    padding-left: 7%;
}
.nosotros h1{
    font-family: sans-serif;
    margin-left: 95px;
    margin-top: 20px;
    font-size: 50px;
    padding-left: 100px;
}
#logo-nosotros{
    margin-top: 20px;
    float: left;
    width: 25%;
    margin-left: 90px;
}
.info{
    display: inline-block;
    margin:auto;
    margin-left: 150px;
}
.info h3{
    font-size: 25px;
    margin-top: 20px;
    color: rgb(50, 50, 223);
}
.info p{
    margin-top: 10px;
    font-family: sans-serif;
}
#mision{
    width: 50%;
    margin-top: 60px;
    margin-left: 20%;
}
#footer-nosotros {
    display: inline-block;
}

.footer-img{
    margin-left:650px;
}
.img{
    width: 6%;
    margin-top: 20px;
    margin-right: 50px;
}
